/*@media screen and (max-width: 1000px) {
	.image {
	}
}*/

@media screen and (min-width: 1600px) {
	.imageContainer {
		max-width: 450px;
		max-height: 800px;
		width: auto;
		height: auto;
		display: block;
	}
}

@media screen and (min-width: 2600px) {
	.imageContainer {
		max-width: 675px;
		max-height: 1200px;
	}
}

.image {
	width: 100%;
	height: 100%;
}
