.navOverlayContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color:transparent;
}

.navOverlayContainerDark {
	position: absolute;
  height: 100vh;
	top: 5%;
	padding: 0 0.5rem;
}

.pageContainer {
	background-color: rgb(219, 219, 219);
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageContainerDark {
	background-color:#0f0f0f;
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fleetingFeatureGrid {
	width: 60vw;
	height: 90vh;
	display: flex;
}

.fleetingFeaturePanel {
	width: 50%;
	height: 100%;
}

.fleetingFeaturePanelVideoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.stepsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.navMenuContainer {
	width: 15; 
	margin-left: 1%;
}

.navMenu {
	margin-top: 1%;
}

.navExpandButton {
	margin-bottom: 1%; 
	margin-top: 20% 
}

.themeButton {
	margin-left: 1%;
	margin-top: 90vh;
	position: absolute;
	top: 0;
	bottom: 0;
}
