.featureContainer {
	background-color: rgb(219, 219, 219);
	min-height: 60vh;
	/*padding: 0 0.5rem;*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px blue solid;*/
}

.fleetingFeatureGrid {
	width: 60vw;
	display: flex;
	/*border: 1px blue solid;*/
}

.fleetingFeaturePanel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	/*border: 1px blue solid;*/
}

.dividerContainer {
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
	/*height: 65vh;*/
}
