.featureContainer {
	background-color: rgb(219, 219, 219);
	min-height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px blue solid;
}


@media screen and (max-width: 300px) {
	.featureContainer {
		min-height: 50vh;
	}
}

@media screen and (min-width: 2600px) {
	.featureContainer {
		min-height: 70vh;
	}
}

.fleetingFeatureGrid {
	width: 60vw;
	display: flex;
	/*border: 1px blue solid;*/
}

@media screen and (max-width: 1000px) {
	.fleetingFeatureGrid {
		flex-direction: column;
		width: 100vw;
	}
}

.fleetingFeaturePanel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	/*border: 1px red solid;*/
}

@media screen and (max-width: 1000px) {
	.fleetingFeaturePanel {
		width: 100%;
	}
}

.dividerContainer {
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}
