.featureContainer {
	background-color: rgb(219, 219, 219);
	min-height: 80vh;
	padding: 0 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fleetingFeatureGrid {
	width: 60vw;
	display: flex;
}

.fleetingFeaturePanel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	/*border: 1px blue solid;*/
}

.fleetingFeaturePanelVideoContainer {
	margin-left: 20px;
	width: 100%;
	/*border: 1px burlywood solid;*/
}

.dividerContainer {
	display: flex;
	flex-direction: row;
	align-items: center; 
	justify-content: center;
	height: 65vh;
}
