.stepsContainer {
	max-width: 400px;
}

/*.downIconContainer {
	max-width: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}*/



@media screen and (min-width: 150px) {
	.stepsPanelContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		/*height:*/
	}
	.stepsContainerSmallScreen {
		max-width: 400px;
		height: 100%;
		padding: 25px 30px 45px 25px;
		margin-bottom: -60px;
		/*border: 1px blue solid;*/
	}
	.stepsContainer {
		display: none;
	}
	.smallScreenStepsPadding {
		width: 10px;
		padding-bottom: 20px;
	}
	.titleContainer {
		display: flex;
	}

	.titleInnerContainer {
		/*border: 1px red solid;*/
		/*display: flex;*/
		/*height: 100px;*/
		/*flex-direction: column;*/
		/*justify-content: flex-end;*/
		/*align-items: center;*/
		/*width: 60%*/
		/*margin-right: 30px;*/
	}
	.title {
		/*white-space: nowrap;*/
		/*min-height: 62px;*/
		font-size: 20px;
		padding-right: 1em;
		padding-bottom: 1px;
		/*line-height: 0px;*/
	}
	.infoIconContainer {
		/*padding-top: 28px;*/
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		align-self: center;
		display: inline;
		z-index: 1000;
		/*border: 1px red solid;*/
	}
	.smallScreenDownIconInnerContainer {		
		/*border: 1px red solid;*/
		padding-bottom: 10px;
		/*padding-right: 25px;*/
		align-self: center;
		display: inline;
		z-index: 1000;
	}
	.downIconInnerContainer {
		display: none;
	}
	.icon {
		font-size: 20px;
	}
}

@media screen and (min-width: 450px) {
	.title {
		white-space: wrap;	
		font-size: 30px;
	}
	.icon {
		font-size: 30px;
	}
}

@media screen and (min-width: 1000px) {
	.infoIconContainer {
		display: none;
	}
	.smallScreenDownIconInnerContainer {		
		display: none;
	}
	.title {
		white-space: nowrap;
	}
}

/*@media screen and (max-width: 1000px) {*/
	/*.stepsPanelContainer {*/
		/*align-items: center;
		flex-direction: column;
		min-height: 65px;
		z-index: 999;*/
		/*border: 1px red solid;*/
		/*padding-right: 0%;*/
		/*display: none;*/
		/*justify-content: flex-start;*/
		/*margin-bottom: -50px;*/
		/*border: 1px red solid;*/
	/*}*/
/*}*/

/*.stepsContainerSmallScreen {
	display: inline;
	max-width: 400px;
	height: 100%;
	padding: 90px 30px 0px 25px;
	margin-bottom: -60px;
}*/

/*@media screen and (min-width: 1000px) {
	.stepsContainerSmallScreen {
		display: inline;
		max-width: 400px;
		height: 100%;
		padding: 0px 50px 0px 0px;
		margin-bottom: 0px;
	}
}*/

@media screen and (max-width: 1000px) {
}


@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 600px) {
	/*.titleContainer {
		padding-left: 0;
		padding-right: 0;
		max-width: 250px;
	}*/
}

@media screen and (max-width: 300px) {
	/*.titleContainer {
		padding-left: 10%;
	}*/
}



@media screen and (max-width: 600px) {
	/*.title {
		font-size: xx-large;
		white-space:normal;
	}*/
}

.infoIconContainer {
	/*padding-top: 25px;*/
	/*padding-right: 25px;*/
	/*align-self: center;
	display: none;*/
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 300px) {
	/*.infoIconContainer {
		padding-right: 25px;
	}*/
}

@media screen and (max-width: 600px) {
	/*.infoIconContainer {
		padding-top: 40px;
	}*/
}

/*.titleInnerContainer {
	display: flex;
	justify-content: center;
}*/







@media screen and (max-width: 1000px) {
}

	/*border: 1px red solid;*/
