@media screen and (min-width: 150px) {
	.stepsPanelContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		/*border: 1px red solid;*/
	}
	.stepsContainerSmallScreen {
		/*display: inline;*/
		max-width: 400px;
		height: 100%;
		padding: 90px 30px 0px 25px;
		margin-bottom: -60px;
		/*border: 1px red solid;*/
	}

}

/*@media screen and (min-width: 1000px) {

}*/

/*@media screen and (max-width: 1000px) {*/
	/*.stepsPanelContainer {*/
		/*align-items: center;
		flex-direction: column;
		min-height: 65px;
		z-index: 999;*/
		/*border: 1px red solid;*/
		/*padding-right: 0%;*/
		/*display: none;*/
		/*justify-content: flex-start;*/
		/*margin-bottom: -50px;*/
		/*border: 1px red solid;*/
	/*}*/
/*}*/

.stepsContainer {
	max-width: 400px;
}

@media screen and (max-width: 1000px) {
	.stepsContainer {
		display: none;
	}
}

/*.stepsContainerSmallScreen {
	display: inline;
	max-width: 400px;
	height: 100%;
	padding: 90px 30px 0px 25px;
	margin-bottom: -60px;
}*/

@media screen and (min-width: 1000px) {
	.stepsContainerSmallScreen {
		display: inline;
		max-width: 400px;
		height: 100%;
		padding: 0px 50px 0px 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 1000px) {
	.smallScreenStepsPadding {
		width: 10px;
		padding-bottom: 20px;
	}
}

.titleContainer {
	max-width: 400px;
	width: 100%;
	min-height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px red solid;*/
}

@media screen and (max-width: 1000px) {
	.titleContainer {
		margin-top: 0px;
		margin-bottom: -50px;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-end;
		/*border: 1px red solid;*/
	}
}

@media screen and (max-width: 600px) {
	.titleContainer {
		/*margin-bottom: -60px;*/
		padding-left: 0;
		padding-right: 0;
		max-width: 250px;
	}
}

@media screen and (max-width: 300px) {
	.titleContainer {
		padding-left: 10%;
	}
}

.title {
	white-space: nowrap;
}

@media screen and (max-width: 600px) {
	.title {
		font-size: xx-large;
		white-space:normal;
	}
}

.infoIconContainer {
	/*padding-top: 25px;*/
	/*padding-right: 25px;*/
	align-self: center;
	display: none;
}

@media screen and (max-width: 1000px) {
	.infoIconContainer {
		padding-top: 25px;
		align-self: center;
		display: inline;
		z-index: 999;
	}
}

@media screen and (max-width: 300px) {
	.infoIconContainer {
		padding-right: 25px;
	}
}

@media screen and (max-width: 600px) {
	.infoIconContainer {
		padding-top: 40px;
	}
}

.titleInnerContainer {
	display: flex;
	justify-content: center;
}

.downIconContainer {
	max-width: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.downIconInnerContainer {
	z-index: 999;
}


@media screen and (max-width: 1000px) {
	.downIconInnerContainer {
		display: none;
	}
}

	/*border: 1px red solid;*/
