.fleetingFeatureVideo {
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.fleetingFeatureVideoContainer {
		height: 88vh;
	}
}

@media screen and (min-width: 1600px) {
	.fleetingFeatureVideo {
		height: 800px;
	}
}

@media screen and (min-width: 2600px) {
	.fleetingFeatureVideo {
		height: 1200px;
	}
}

/*.react-player__preview {
 	display: none !important;
	border: 1px red solid; 
}

.react-player__shadow {
	display: none !important;
	border: 1px red solid; 
	
}

.react-player__play-icon {
	display: none !important;
	border: 1px red solid; 

}*/
/*border: 1px burlywood solid;*/