.fleetingFeatureVideo {
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.fleetingFeatureVideoContainer {
		height: 88vh;
	}
}

@media screen and (min-width: 1600px) {
	.fleetingFeatureVideo {
		height: 800px;
	}
}

@media screen and (min-width: 2600px) {
	.fleetingFeatureVideo {
		height: 1200px;
	}
}

/*border: 1px burlywood solid;*/